.header {
	display: flex;
	justify-content: center;
	height: 80px;

	&__img {
		height: 78px;
	}
}

.sign-in-btn {
	display: flex;
	justify-content: right;
	font-size: medium;
	font-weight: 500;

	a {
		text-decoration: none;
		color: grey;
		font-size: 22px;
		font-weight: 900;
		&:hover {
			color: #3885ce;
			font-weight: 900;
		}
	}
}
